@font-face {
    font-family: "FreeSans";
    src: url("../asset/font/FreeSans.ttf");
}

body {
    background-color: #0E141C;
    font-family: "FreeSans";
    color: #eee;
}

.searchBar {
    background-color: #1D2634;
    border: none;
    outline: none;
    color: #eee;
    min-height: 5vh;
    border-radius: 15px;
}

.hero{
    min-height: 25vh;
}

.today {
    min-height: 25vh;
    background-color: #1D2634;
    border-radius: 15px;
}

.airCondition {
    min-height: 25vh;
    background-color: #1D2634;
    border-radius: 15px;
}

.iconWeath{
    max-height: 20vh;
}

.city {
    font-size: 40px;
    font-weight: 900;
}

.location{
    font-size: 15px;
}

.grad{
    font-size: 50px;
    font-weight: 900;
}

.littleTitle{
    font-size: 11px;
}

.airCondTitle{
    font-size: 15px;
}

.realFeelIcon{
    min-width: 30px;
}

.topicCond{
    font-size: 35px;
    font-weight: 900;
}

#tempTF{
    font-size: 25px;
    font-weight: 900;
}

#forecastIcon{
    max-width: 100px;
}

.rightBar{
    background-color: #1D2634;
}